
@{
    ViewData["Title"] = "Home Page";
}

<div><a asp-action="Create" asp-controller="Board"><b>Create Board</b></a></div>

<div><a asp-action="GetBoard" asp-controller="Board"><b>View Existing Board</b></a></div>
