@{ 
    ViewBag.Title = "Create a New Board";
}

<form method="post">
    <div>
        <label for="Name">Name:</label>
        <input type="text" name="Name" value="" />
        @Html.ValidationMessage("Name")
    </div>
    <div>
        <input value="Create" type="submit" />
        <input value="Cancel" type="submit" formmethod="get" />
    </div>
</form>